.wrapper {
  --button-size: 64px;
  background: none;
  border: none;
  display: grid;
  place-items: center;
  padding: 20px;
  border-radius: 50%;
  background-color: var(--color-primary-purple);
  height: var(--button-size);
  width: var(--button-size);
  position: "relative";
}

.wrapper:hover {
  cursor: pointer;
  background-color: var(--color-neutral-off-black);
}

.wrapper:focus-visible {
  outline-offset: 4px;
  outline-color: var(--color-primary-purple);
}

.wrapper:active {
  background-color: hsl(var(--color-neutral-off-black-hsl), 0.8);
}

.wrapper img {
  height: 24px;
  width: 24px;
}

@media (min-width: 750px) {
  .wrapper {
    height: 96px;
    width: 96px;
  }

  .wrapper img {
    height: 44px;
    width: 44px;
  }
}